{{!< default}}
{{#post}}
<div class="post-cont">
            <header>
                <h1>{{title}}</h1>
                <section>发布时间:{{data}}标签:{{tags}}</section>
            </header>
            <content>
                {{content}}
            </content>
{{/post}}