<div class="nav">
            <div class="nav-cont tblock">
            {{#foreach navigation}}
            <a class="act" href="{{url absolute="true"}}">{{label}}</a>
            {{/foreach}}
            </div>
        </div>